@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.heading {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.containerItem {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    /* margin: 5px; */
    background-color: #ceb1be;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.cardHeaderText {
    padding-top: 4vh;
    text-align: center;
}

.cardHeader {
    border-radius: 10px 10px 0 0;
    color: #f1e4e8;
    height: 10vh;
    background-color: #4e4d5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    box-shadow: 10px 10px 0 #2d2d34;
    border-radius: 10px;
    background-color: #4e4d5c;
    margin-bottom: 5vh;
}

.cardImage {
    border-radius: 10px;
}

.cardImage:hover {
    opacity: 0.9;
    cursor: pointer;
}
.cardImage:active {
    opacity: 0.8;
}

.watchIcon {
    padding: 3px;
}

.watchIcon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.watchIcon:active {
    cursor: pointer;
    opacity: 0.6;
}
