@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.heading {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.containerItem {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    background-color: #ceb1be;
    padding: 10px;
    border-radius: 5%;
}

.cardImage {
    border-radius: 5%;
}

.watchIcon {
    padding: 3px;
}

.watchIcon:hover {
    background-color: #000;
    border-radius: 45%;
}
