.heading {
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px #4e4d5c;
}

.containerItem {
    display: flex;
    justify-content: center;
}

.pill {
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    padding: 1vh;
    display: inline-block;
    margin-top: 1vh;
    margin-right: 1vh;
    font-size: 12px;
    border-color: #ebdfe5;
    color: #ffffff;
    cursor: default;
    font-weight: bold;
    text-align: center;
}

/* .pill:hover {
    cursor: pointer;
    background-color: #4e4d5c;
    color: #ffffff;
    border-color: #4e4d5c;
} */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    /* margin: 5px; */
    background-color: #ceb1be;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.cardHeaderText {
    padding-top: 4vh;
    text-align: center;
}

.cardHeader {
    border-radius: 10px 10px 0 0;
    color: #2d2d34;
    height: 8vh;
    background-color: #ebdfe5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    border-radius: 10px;
    background-color: #4e4d5c;
    margin-bottom: 5vh;
    box-shadow: 12px 12px 0 0 #2d2d34;
    max-width: 250px;
}

.cardImage {
    border-radius: 10px;
}

.cardImage:hover {
    opacity: 0.9;
    cursor: pointer;
}
.cardImage:active {
    opacity: 0.8;
}

.watchIcon {
    padding: 3px;
}

.watchIcon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.watchIcon:active {
    cursor: pointer;
    opacity: 0.6;
}
