.content {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

/* .content:hover {
    background-color: var(--light-pink);
    color: black;
    border-color: var(--light-pink);
    cursor: pointer;
}

.content:active {
    opacity: 0.8;
} */
