@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.button {
    border-color: #fff;
    border-style: solid;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 3.5vh;
    box-shadow: 5px 5px 0 #2d2d34;
    cursor: pointer;
    margin-left: 1vh;
    padding: 1vh;
}

.button:hover {
    background-color: #ceb1be;
}

.button:active {
    background-color: #4e4d5c;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin: 2vh;
}
