@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.button {
    border-color: white;
    border-style: solid;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 3.5vh;
    box-shadow: 5px 5px 0 var(--dark-grey);
    cursor: pointer;
    margin-left: 1vh;
    padding: 1vh;
}

.button:hover {
    background-color: var(--pink);
}

.button:active {
    background-color: var(--light-grey);
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin: 2vh;
}
